/*
Free to use CSS template by Katie (#106445).
This code may be altered, edited, or re-uploaded. 
This template may be used to create paid codes (pre-mades and commissions).
Please do NOT remove this credit, unless your coding becomes unrecognizable from this one! 
*/

/* FONT (From Google Fonts) */

@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

/* BACKGROUND */

body {
	background: url('https://wallpaper.dog/large/803327.jpg') center center fixed;
	background-size: 100%;
	font-family: "Amarante", serif;
	color: #ffffff;
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
	background: rgba(235, 215, 204, 0.5);
	border: 3px solid #ebd7cc;
	box-shadow: none;
	border-radius: 0px
}

/* LEFT SIDE */
.col-md-9 {
	background: none;
        border-right: none
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
	background: rgba(228, 170, 176, 0.8);
	border: 3px solid #ebd7cc;
	border-top: none;
	color: #ffffff;
	border-radius: 0px;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
	background: rgba(182, 95, 113, 0.8);
	border-bottom: none;
	color: #ffffff;
	border-radius: 0px
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
	color: #ffffff !important
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
	background: rgba(227, 149, 162, 0.7) !important;
	border-bottom: none;
	color: #ffffff !important;
	border-radius: 0px
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
	background: rgba(228, 170, 176, 0.8) !important;
        border: 3px solid #ebd7cc;
	border-radius: 0px
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
	color: #ffffff;
}

/* CSS CREDIT */

.breadcrumb::after {
        content: "CSS by Laya16052 (#564564/#577399)";
        color: #ffffff;
        position: absolute;
        right: 13%; /* (This may need adjusting) */
        z-index: 100
    }

@media only screen and (max-width: 1199px) and (min-width: 992px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px)  {
        .breadcrumb::after {
            right: 20%
        }
    }

    @media only screen and (max-width: 767px) {
        .breadcrumb::after {
            right: 22%
        }
    }

/* BOOKMARK BUTTON */

input.floatright, input.floatright:hover {
	background: rgba(220, 105, 137, 0.8) !important;
        border: 2px solid #ebd7cc !important;
	border-radius: 0px;
	color: #ffffff !important;    
}

/* SWITCH ACCOUNT BUTTON */

button.button, button.button:hover {
	background: rgba(220, 105, 137, 0.8);
        border: 3px solid #ebd7cc !important;
	border-radius: 0px;
        text-shadow: none !important;
	color: #ffffff !important
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
	background: rgba(228, 170, 176, 0.8) !important;
	border: 3px solid #ebd7cc;
	color: #ffffff;
	border-radius: 0px !important
}

/* BIGGEST HEADER ("___"'s DEN) */

h1 {
	color: #ffffff;
	font-size: 90px;
	text-align: center;
        font-family: "Amarante", serif;
}


/* MEDIUM HEADER */

h2 {
	color: #ffffff;
	font-size: 24px;
	text-align: center
}


/* SMALL HEADER */

h3 {
	color: #ffffff !important;
	font-size: 14px !important
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
	color: #ffffff !important;
        font-size: 26px !important;
        font-family: "Amarante", serif;
}

/* RIGHT SIDE PANELS */
.panel {
	background: rgba(182, 95, 113, 0.8) !important;
	box-shadow: none !important;
	border: 3px solid #ebd7cc !important;
	color: #ffffff !important;
	border-radius: 0px
}

/* ENERGY BAR BACKGROUND */
.progress {
	background: rgba(254, 252, 252, 0.5);
	color: #ffffff !important;
	border-radius: 0px !important
}

/* ENERGY BAR COLOR */
.progress-bar {
	background: rgba(220, 165, 179, 0.8);
	color: #ffffff !important;
	border-radius: 0px !important
}

/* ENERGY BAR TEXT */
.progress div {
	color: #ffffff !important
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
	background: rgba(220, 165, 179, 0.8) !important;
        color: #ffffff !important;
	border: 3px solid #ebd7cc !important
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
	background: rgba(220, 105, 137, 0.8) !important;
        color: #ffffff !important;
	border: 3px solid #ebd7cc !important
}

.s-chat-message__pinned /* Pinned Message */ {
	background: rgba(235, 215, 204, 0.8) !important;
        color: #ffffff !important;
	border: 3px solid #ebd7cc !important
}

.s-chat-message_timestamp /* Timestamps */ {
	color: #ffffff !important;
}

div#chatMessageContainer {
	border: 3px solid #ebd7cc !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
	background: rgba(183, 77, 100, 0.8) !important;
        color: #ffffff !important;
	border: 3px solid #ebd7cc !important
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */


/* PANEL BACKGROUND COLOR */

.table {
	background: rgba(235, 215, 204, 0.5);
	border: 3px solid #ebd7cc !important;
	border-collapse: separate;
	border-radius: 0px
}


/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
	background: rgba(220, 105, 137, 0.8) !important;
	color: #ffffff !important;
	border-radius: 0px
}

td.bottom a {
        text-decoration: none !important
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
	background: rgba(188, 86, 102, 0.8) !important;
        color: #ffffff;
	border-radius: 0px
}


/* Color behind the number of all of the things above */

.inner-table .right {
	background: none;
	border-radius: 0px !important
}

td.right {
	border-radius: 0px !important
}

/* IGNORE */
.right_odd {
	background: none !important
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
	background: rgba(188, 86, 102, 0.8);
	border: 3px solid #ebd7cc !important;
	border-radius: 0px !important
}

/* FEED ALL, PLAY ALL */

.feature {
	background: rgba(188, 86, 102, 0.8) !important;
	color: #ffffff !important;
	border: 3px solid #ebd7cc !important;
	border-radius: 0px !important
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
	background: rgba(188, 86, 102, 0.8);
	border: 3px solid #ebd7cc;
	border-radius: 0px !important
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
	background: rgba(188, 86, 102, 0.7);
        border-radius: 0px
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
	background: rgba(229, 192, 184, 0.8) !important;
	border: 3px solid #ebd7cc !important;
	border-radius: 0px !important;
	color: #ffffff !important;
	box-shadow: none !important;
	text-shadow: none !important
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
	background: rgba(188, 86, 102, 0.5) !important;
	color: #ffffff  !important;
	border-radius: 0px !important;
}

.item {
	background: rgba(188, 86, 102, 0.5) !important;
	border: 3px solid #ebd7cc !important;
	border-radius: 0px !important
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
	background: #000000 !important
}

div.slider.round::before /* Circle Part */ {
	background: #000000 !important
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm, div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
        color: #ffffff !important;
        text-shadow: none !important
}

/* LINK COLOR */

a:link,
a:visited {
	color: #ffffff !important
}

/* LINK HOVER COLOR */

a:hover {
	color: #ffffff !important
}


/* BOX CONTAINER */

.boxcontainer {
	background: none;
	height: auto;
	padding: 0px;
	justify-content: center;
	display: flex
}

/* HOVER BOXES */

.smallhoverbox {
	float: left;
	background: rgba(188, 86, 102, 0.8);
	color: #ffffff;
	padding: 10px;
	border: 3px solid #ebd7cc;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.smallhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.mediumhoverbox {
	float: left;
	background: rgba(188, 86, 102, 0.8);
	color: #ffffff;
	padding: 10px;
	border: 3px solid #ebd7cc;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 43.8%;
	overflow: auto;
        transition: 3s
}

.mediumhoverbox:hover {
	height: 150px;
	width: 43.8%;
}

.largehoverbox {
	float: left;
	background: rgba(188, 86, 102, 0.8);
	color: #ffffff;
	padding: 10px;
	border: 3px solid #ebd7cc;
	border-radius: 0px;
	margin: 10px;
	height: 50px;
	width: 90%;
	overflow: auto;
        transition: 3s
}

.largehoverbox:hover {
	height: 150px;
	width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
	width: 10px
}


/* BACKGROUND */

::-webkit-scrollbar-track {
	background: #dc6989;
}


/* "THUMB" */

::-webkit-scrollbar-thumb {
	background: #ebd7cc;
	border-radius: 0px
}


/* LION AND USER AVATAR OPACITY */

div#lion_image {
	opacity: 1
}

table#player img {
	opacity: 1
}


/* CIRCULAR LION AND USER AVATAR */

div#lion_image {
	border-radius: 50% !important;
	overflow: hidden;
	margin-top: 15px; /* May need adjusting */
	margin-left: 12px /* May need adjusting */
}

table#player img {
	border-radius: 50% !important;
	overflow: hidden
}


/* LIODEN LOGO REPLACER */

div.container.main>div:nth-child(1)>nav>div.navbar-header>a>img {
	content: url('https://i.postimg.cc/nzchKQp7/5887609f36ef2105948b6f3bc20adad1-removebg-preview.png');
height: 150px !important;   /* matches official logo height */
    top: -25%;                 /* adjust if you want it lower/higher */
    position: relative;        /* ensures top offset works */
}

/* CSS Template by WAS #387866, you may edit or sell this template (premade or comms, idc) BUT you may NOT remove the Credit on the breadcrumb or this text unless your coding becomes unrecognizable from mine. If you have any Questions about this Template feel free to PM WAS on Lioden! :3 */

/* Pregnant Lionesses */
img[src$="nestingbanner.png"] {
  background: url('https://wallpaperaccess.com/full/1323760.jpg');
  height: 120px !important;
  width: 260px !important;
  padding-left: 100%;
  background-size: 100%;
}

/* Pride Overview */
img[src$="prideoverviewbanner.png"] {
  background: url('https://wallpapercave.com/wp/wp4013499.jpg') !important;
  padding-left: 100%;
  background-size: 100%;
  background-repeat: no-repeat !important;
  background-position: 50% 0% !important;
  height: 120px !important;
  width: 260px !important;
background-size: 100% !important;
}

/* Unsorted */
img[src$="unsortedlionsbanner.png"] {
  background: url('https://wallpapercat.com/w/full/f/0/c/125609-3840x2160-desktop-4k-orchid-wallpaper-image.jpg') !important;
  height: 120px !important;
  width: 260px !important;
  padding-left: 100%;
  background-position: 0% 0% !important;
  background-size: 100% !important;
}

/* Caves */
img[src$="cavedefault.jpg"] {
  background: url('https://wallpapercave.com/wp/wp6445890.jpg') !important;
  padding-left: 100%;
  height: 120px !important;
  background-position: 0% 80% !important;
  width: 258px !important;
background-size: 100% !important;
}

/* Mounds */
.mound-grid img {
  background: url('https://i.postimg.cc/XNGjkW9q/9bf2b9cc7e880129e3925588529df891-removebg-preview.png');
  width: 0;
  height: 0;
  padding-top: 80px !important;
  padding-right: 130px;
  background-size: 100% !important;
    background-position: 50% 60% !important;
background-size: 100% !important;
}

/* Codes made by Pandora #144118 and Kat .:Red Lion of Voltron:. #94329 
Codes may be edited, used in commissions or for personal use
Please do not remove credit
*/
 
/* KING DYNASTY */
img[src$="den_ancestors.png"] {
    content:url('https://i.postimg.cc/XNGjkW9q/9bf2b9cc7e880129e3925588529df891-removebg-preview.png')!important;
    width:100px!important;
 
}
 
/* PRIDE DYNASTY */
img[src$="ancestorsfem.png"] {
    content:url('https://i.postimg.cc/XNGjkW9q/9bf2b9cc7e880129e3925588529df891-removebg-preview.png')!important;
    width:100px!important;
 
}
 
/* ACHIEVMENTS */
img[src$="den_achievements.png"] {
    content:url('https://i.postimg.cc/XNGjkW9q/9bf2b9cc7e880129e3925588529df891-removebg-preview.png')!important;
    width:100px!important;
 
}
 
/* SHOWCASE */
img[src$="den_showcase.png"] {
    content:url('https://i.postimg.cc/XNGjkW9q/9bf2b9cc7e880129e3925588529df891-removebg-preview.png')!important;
    width:100px!important;
 
}


/* BEETLE BOOK*/
img[src$="den_beetlebook.png"] {
    content:url('https://i.postimg.cc/XNGjkW9q/9bf2b9cc7e880129e3925588529df891-removebg-preview.png')!important;
    width:100px!important;
 
}

( for Removing the border ) 

/* tables */
        .table {
            background: none;
            color: #ffffff !important;
            border: none !important;
            border-collapse: separate;
            border-radius: 5px;
            box-shadow: none !important;
        }


/* CUSTOM LAYOUTS (CODE MADE BY #139 ON LIODEN) */
    .pun-credit {
        position: fixed;
        bottom: 0px;
        right: 0px;
        color: #ffffff !important;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        background: rgba(229, 192, 184, 0.8);
        padding: 5px;
    }
    .pun-credit a {
        color: #ffffff !important;
    }
    .pun-credit a:hover {
        opacity: 1 !important;
    }
    .pun-credit:hover {
        opacity: 1;
        transition: 2s;
    }
    .pun-table {
        width: 640px;
        background: url('https://i.pinimg.com/1200x/78/16/10/7816106bd9a2e69f2466ffaa2235a7a8.jpg');
    }
    .pun-spacer {
        background: none;
        width: 320px;
    }
    .pun-content {
        background: rgba(188, 86, 102, 0.8) !important;
        color: #ffffff;
        text-align: justify;
        height: 400px;
        overflow: auto;
        width: 280px;
        padding: 20px;
        border-radius: 4px;
        font-size: 14px;
    }
    .pun-content a {
        color: #ffffff !important;
        font-weight: normal !important;
        opacity: 0.5;
    }
    .pun-content a:hover {
        opacity: 1 !important;
    }
    .pun-links {
        background: rgba(229, 192, 184, 0.8) !important;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 5px;
    }
    .pun-links a {
        color: #ffffff !important;
    }
    .pun-graphics {
        background: rgba(229, 192, 184, 0.8) !important;
        color: #ffffff;
        text-align: center;
        border-radius: 5px;
    }
    .pun-graphics a {
        color: #ffffff !important;
    }

/*mobile background fixer code by tawnycollar #251887. do not remove credit.*/
@media screen and (max-width: 768px){
body {
background: url("https://wallpaper.dog/large/803327.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: "Amarante", serif;
color: #ffffff;
}
html:not(.nolayout) body:after {
content:"";
position:fixed;
top:0;
height:160vh;
left:0;
right:0;
z-index:-1; 
background: url("https://wallpaper.dog/large/803327.jpg") center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family: "Amarante", serif;
color: #ffffff;
}
}
/* desktop background */
@media screen and (min-width: 768px){
body {
background: url("https://wallpaper.dog/large/803327.jpg") center center fixed;
background-repeat: no-repeat;
background-size: cover;
-webkit-background-size: cover; 
font-family: "Amarante", serif;
color: #ffffff;
}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
        .container.main .hidden-xs {
            display: block !important;
        }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	display: block !important;
}

@media only screen and (min-width: 1200px) {
		div.quote {
			width: 790px;
		}
	}
